# Ignore artifacts
build
coverage

# Dependencies
**/node_modules
**/package-lock.json
pnpm-lock.yaml
yarn.lock

# IDE
.vscode
.idea

# Next.js
.next
out

# Husky
.husky

# Images & media (allow SVG/JSON formatting)
public/**/*.{png,jpg,jpeg,webp,avif,gif,ico,mp4,mp3}
public/**/*.ttf
public/**/*.woff
public/**/*.woff2
public/**/*.eot
public/**/*.otf